.main {
  padding: 40px;
  min-height: calc(100vh - 150px);
  background-color: var(--background);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.light {
  --background: #f9f9f9;
  --text-color: #333333;
}

.dark {
  --background: #121212;
  --text-color: #e0e0e0;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  line-height: 1.6;
}
